

<div class="text-center large">

<% if current_user == nil %>
  <div class="col-md-12">
    
    <%= link_to "Sign Up", new_user_registration_path %>

  </div>

<% end %>

<% if current_user %>
  <div class="col-md-12">

    Hello <%= current_user.screen_name %>! <%= link_to "Sign out",destroy_user_session_path, method: :delete %>

  </div>

  <div class="col-md-12">

    <%= link_to "Get Packages", new_charge_path %>

  </div>


<% else %>
  <div class="col-md-12">

    <%= link_to "Sign In", new_user_session_path %>
  </div>

<% end %>

  

</div>